body {
    margin: 0px !important;
}

body > .grid {
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.g-recaptcha {
    margin: 15px auto !important;
    width: auto !important;
    height: auto !important;
    text-align: -webkit-center;
    text-align: -moz-center;
}